/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Georgia', serif;
}

a:link {
	color: #707070;
	text-decoration: none;
}

a:hover {
	color: #909090;
}

.navbar {
	background-color: #FFF;
	padding: 5px 15px;
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: 1px #000 solid;
}

.nav-left {
	width: 40%;
	float: left;
}

.nav-left h2 {
	font-size: 28px;
	padding: 5px;
}

.nav-right {
	width: 55%;
	float: right;
	padding-right: 45px;
}

.nav-right li {
	font-size: 22px;
	padding: 20px 15px 0 15px;
	display: inline-block;
}

.jumbotron {
	overflow: hidden;
	height: 800px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	padding-top: 50px;
	z-index: -1;
}

.headshot {
	border-radius: 50%;
	box-shadow: 0 0 5px #303030;
}

.headshot-wrapper {
	padding: 40px 0 40px;
}

.intro {
	padding-top: 125px;
}

.intro h2 {
	padding: 50px 50px 50px 15px;
	font-size: 58px;
	line-height: 58px;
}

.info h3 {
	font-size: 36px;
	line-height: 38px;
}

.info p {
	font-size: 28px;
	line-height: 34px;
	color: #000;
	text-align: justify;
}

.offset {
	margin: 200px auto;
	padding-top: 60px;
}

.space {
	margin-top: 50px;
}

.contact-info p {
	font-size: 22px;
}

/* #Page Styles
================================================== */

/* #Mobile Styles
================================================== */
.navbar-mobile {
	margin: 0 auto;
	padding: 5px;
	border-bottom: 1px #000 solid;
}

.navbar-mobile #name {
	font-size: 22px;
}

.navbar-mobile li {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 2;
	display: inline;
	padding: 15px 5px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}
		.navbar-mobile {
			display: none;
		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
				.navbar {
			display: none;
		}
		.navbar-mobile {
			display: inline-block;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.navbar {
			display: none;
		}
		.navbar-mobile {
			display: inline-block;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.navbar {
			display: none;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'OpenSans', sans-serif;
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
