/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', sans-serif;
}

a:link {
	color: #707070;
	text-decoration: none;
}

a:hover {
	color: #575757;
	font-weight: 600;
}

.nav {
	/*background-color: #b5b5b5;*/
	padding: 15px;
	position: fixed;
	width: 100%;
}

.nav-right {
	width: 55%;
	float: right;
	padding-right: 45px;
}

.nav-right li {
	font-size: 18px;
	padding: 10px 15px 0 15px;
}

.nav-right li a {
	color: #242424;
}

.full-width {
	/*background: url('https://farm4.staticflickr.com/3792/11821175215_61d8afec35_k.jpg');*/
	background: url('https://farm4.staticflickr.com/3694/14114424629_909e6d09c7_k.jpg');
	/*background: url('https://farm4.staticflickr.com/3742/14278381406_4f3172d1b9_k.jpg');*/
	background-size: cover;
	margin: 0 auto;
	height: 900px;
	max-height: 1000px;
}

.container-top {
	margin: 0 auto;
}

.headshot {
	border-radius: 50%;
	box-shadow: 0 0 5px #303030;
}

.headshot-wrapper {
	padding: 10px 15px;
}

.intro {
	padding-top: 200px;
}

.intro h2 {
	padding: 50px 50px 50px 15px;
	font-size: 72px;
	color: #242424;
	text-align: center;
	font-weight: 600;
}

.intro h3 {
	font-size: 46px;
	line-height: 54px;
	color: #242424;
	font-weight: 600;
}

.info p {
	font-size: 28px;
	line-height: 34px;
	color: #000;
	text-align: justify;
}

.offset {
	margin: 200px auto;
	padding-top: 60px;
}

.offset-projects {
  margin: 200px auto 0;
  padding-top: 60px;
}

.space {
	margin-top: 50px;
}

.contact-info p {
	font-size: 22px;
}

/* #Page Styles
================================================== */

/* #Mobile Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.intro {
			padding-top: 100px;
		}

		.intro h2 {
			padding: 50px 50px 50px 15px;
			font-size: 52px;
			line-height: 58px;
			color: #242424;
			text-align: center;
		}

		.intro h3 {
			font-size: 36px;
			line-height: 42px;
			color: #242424;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.nav {
			display: none;
		}

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'OpenSans', sans-serif;
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
