/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Navigation Styles
	#Landing Styles
	#Page Styles
	#About Styles
	#Contact Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body h1, h2, h3, h4, h5, h6, div, p, li {
  font-family: 'Roboto Slab', serif;
}

a:link {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #575757;
	text-decoration: underline;
}

.offset {
  margin: 200px auto 0;
  padding-top: 80px;
}

.offset-small {
  margin: 100px auto 0;
  padding-top: 60px;
}

.space {
	padding-top: 20px;
}

.space-bottom {
	padding-bottom: 20px;
}

.letter-space {
	letter-spacing: 4px;
}

/* #Navigation Styles
================================================== */

.nav-parent {
	position: relative;
}

.navbar {
	background-color: #FFF;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

.nav-opacity {
  opacity: .7;
}

.nav-links {
	text-align: center;
}

.nav-links li {
	font-size: 22px;
	padding: 25px 20px 10px 20px;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 5px;
}

.nav-links li a {
	color: #242424;
	text-decoration: none;
}

.nav-fixed {
	padding: 25px;
}

.nav-fixed li a {
	color: #242424;
	text-decoration: none;
}

.fixed {
  position: fixed;
  top: 0px;
  height: 85px;
  z-index: 1;
}

.hidden {
	display: none;
}

/* #Landing Styles
================================================== */
.full-width {
	background: url('../images/skyline1824.jpg');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.name {
	color: #303030;
	font-size: 80px;
	line-height: 100px;
	font-weight: 600;
	padding-top: 2%;
	text-align: center;
	font-family: 'Stalemate', cursive;
}

.short-intro {
	padding-top: 5%;
	font-size: 16px;
	line-height: 20px;
}

/* #About Styles
================================================== */
.headshot {
	border-radius: 50%;
	box-shadow: 0 0 5px #303030;
}

.headshot-wrapper {
	padding: 10px 15px 25px 15px;
}

.info p {
	font-size: 22px;
	line-height: 34px;
	color: #000;
}

/* #Contact Styles
================================================== */
.contact-info p {
	font-size: 22px;
}

/* #Mobile Styles
================================================== */

/* #Media Queries
================================================== */

	/* Larger than standard 2299 (devices and browsers) */
	@media only screen and (min-width: 2299px) {
		.full-width {
			background: url('../images/skyline2299.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}

	/* Smaller than standard 1824 (devices and browsers) */
	@media only screen and (max-width: 1824px) {
		.full-width {
			background: url('../images/skyline1824.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
			max-height: 1000px;
		}

	/* Smaller than standard 1224 (devices and browsers) */
	@media only screen and (max-width: 1224px) {
		.full-width {
			background: url('../images/skyline1224.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
			max-height: 1000px;
		}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.full-width {
			background: url('../images/skyline959.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
			max-height: 1000px;
		}

		.offset {
		  margin: 60px auto 0;
		  padding-top: 20px;
		}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.full-width {
			background: url('../images/skyline959.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}

		.nav-links li {
			font-size: 18px;
		}

		.nav-fixed {
			padding: 25px 15px;
		}

		.nav-fixed li a {
			font-size: 18px;
			display: inline-block;
			font-weight: 600;
			letter-spacing: 5px;
		}

		.fixed {
		  position: fixed;
		  top: 0px;
		  height: 85px;
		  z-index: 1;
		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.full-width {
			background: url('../images/skyline768.jpg') !important;
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}

		.nav-links li {
			font-size: 18px;
		}

		.nav-fixed {
			padding: 25px 15px;
		}

		.nav-fixed li a {
			font-size: 18px;
			display: inline-block;
			font-weight: 600;
			letter-spacing: 5px;
		}

		.fixed {
		  position: fixed;
		  top: 0px;
		  height: 85px;
		  z-index: 1;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.full-width {
			background: url('../images/skyline768.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 50vh;
		}

		.nav-links li {
			font-size: 18px;
		}

		.nav-fixed {
			padding: 25px 15px;
		}

		.nav-fixed li a {
			font-size: 18px;
			display: inline-block;
			font-weight: 600;
			letter-spacing: 5px;
		}

		.fixed {
		  position: fixed;
		  top: 0px;
		  height: 85px;
		  z-index: 1;
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.full-width {
			background: url('../images/skyline479.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 50vh;
		}

		.name {
			padding-bottom: 5px;
		}

		.nav-li-wrapper {
			display: none;
		}

	}
