/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Navigation Styles
	#Landing Styles
	#Page Styles
	#About Styles
	#Contact Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body h1, h2, h3, h4, h5, h6, div, p, li {
  font-family: 'Georgia', serif;
}

a:link {
	color: #707070;
	text-decoration: none;
}

a:hover {
	color: #575757;
	text-decoration: underline;
}

.offset {
  margin: 200px auto 0;
  padding-top: 80px;
}

.offset-small {
  margin: 100px auto 0;
  padding-top: 60px;
}

.space {
	padding-top: 50px;
}

/* #Navigation Styles
================================================== */
.navbar {
	background-color: #b5b5b5;
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 1;
	bottom: 0px;
}

.nav-opacity {
	opacity: .7;
}

.nav-right {
	margin: 0 auto;
	text-align: center;
}

.nav-right li {
	font-size: 24px;
	padding: 35px 30px;
	display: inline-block;
	font-weight: 600;
}

.nav-right li a {
	color: #242424;
}

.navbar-fixed-wrapper {
	background-color: #FFFCFE;
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 1;
	bottom: 0px;
}

.nav-fixed {
	margin: 0 auto;
	text-align: center;
}

.nav-fixed li {
	font-size: 18px;
	padding: 10px 30px;
	display: inline-block;
}

.nav-fixed li a {
	color: #242424;
}

.fixed {
  position: fixed;
  top: 0px;
  height: 70px;
  z-index: 1;
}

#nav-name {
	font-size: 24px;
	padding: 5px;
}

.hidden {
	display: none;
}

/* #Landing Styles
================================================== */
.full-width {
	/*background: url('https://farm4.staticflickr.com/3792/11821175215_61d8afec35_k.jpg');*/
	background: url('https://farm4.staticflickr.com/3694/14114424629_909e6d09c7_k.jpg');
	/*background: url('https://farm4.staticflickr.com/3742/14278381406_4f3172d1b9_k.jpg');*/
	background-size: cover;
	margin: 0 auto;
	height: 100vh;
	max-height: 1000px;
}

.intro {
	padding-top: 50px;
	text-align: center;
}

.name {
	color: #303030;
	font-size: 180px;
	line-height: 180px;
	font-weight: 600;
	position: absolute;
	width: 100%;
	bottom: -280px;
	font-family: 'Stalemate', cursive;
}

.intro h3 {
	font-size: 42px;
	line-height: 58px;
	color: #303030;
	font-weight: 500;
}

.star {
	font-size: 50px;
	text-align: center;
	padding: 80px 0 0 0;
	color: #B99DCC;
}

/* #About Styles
================================================== */
.headshot {
	border-radius: 50%;
	box-shadow: 0 0 5px #303030;
}

.headshot-wrapper {
	padding: 10px 15px 25px 15px;
}

.info p {
	font-size: 28px;
	line-height: 36px;
	color: #000;
	text-align: justify;
}

/* #Contact Styles
================================================== */
.contact-info p {
	font-size: 22px;
}

/* #Mobile Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.full-width {
			background: url('https://farm4.staticflickr.com/3694/14114424629_dca8ede833_b.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
			max-height: 1000px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.full-width {
			background: url('https://farm4.staticflickr.com/3694/14114424629_dca8ede833_b.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.full-width {
			background: url('https://farm4.staticflickr.com/3694/14114424629_dca8ede833_c.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}

		.intro {
			padding-top: 50px;
		}

		.name {
			color: #242424;
			font-size: 52px;
			line-height: 55px;
			font-weight: 800;
			position: absolute;
			width: 100%;
			bottom: -100px;
		}

		.intro h3 {
			font-size: 26px;
			line-height: 26px;
			color: #242424;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.full-width {
			background: url('https://farm4.staticflickr.com/3694/14114424629_dca8ede833_c.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}
	}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.full-width {
			background: url('https://farm4.staticflickr.com/3694/14114424629_dca8ede833.jpg');
			background-size: cover;
			margin: 0 auto;
			height: 100vh;
		}

		.nav {
			display: none;
		}

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'OpenSans', sans-serif;
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
